/* CSS styles */

body {
font-family: "Manrope" , sans-serif;
background: none;

margin-bottom:50px; /*für footer*/
}
.wrapper {

  max-width:1600px;
  margin: 0 auto;

}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #059669;
}
.nav-items{
  display: flex;
  text-decoration: none;
}

.nav-items li a{
  margin: 0 20;
  color: #DCF0DB;
}

h3, h4, h5 {
color: #107F3A;
margin-top: 100px;
padding: 0px 50px;
}

.btn{
  justify-content: center;
  align-items: center;
  background: #059669;
  border-radius: 15px;
  font-size: 12px;
  padding: 8px 20px;
  color: white;
}

ul.b {
  list-style-type: square;
  padding: 50px 50px 50px 50px;
}


.row {
  display: flex;
  padding: 50px;
  margin: 50px 10px 0px 50px;
}
.column {
  width: 80%;
}

.row2 {
  display: flex;
  padding: 50px;
  margin: 50px 10px 0px 50px;
}
.column2 {
  width: 80%;
}

.container2{
  display: flex;
  margin-top: 20px;
  margin-bottom: 100px;
  padding: 0px 50px;
  justify-content: space-between;
  align-items: center;
  color: #059669;
}



footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #059669;
  padding: 30px;
  color: white;
  height: 50px;
  width: 95%;

  /*für footer*/
  margin-bottom: 0px;
  bottom: 0px;
  /*position: fixed;*/
}
