/* CSS styles */

body {
font-family: "Manrope" , sans-serif;
background: none;
}
.wrapper {

  max-width:1600px;
  margin: 0 auto;

}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #059669;
}

.navbar-nav .nav-item.nav-link {
  text-decoration: none;
  color: #c8e6c9;
  margin-right: 30px;
}

.nav-items{
  display: flex;
}

.nav-items li a{
  margin: 0 20;
  color: #DCF0DB;
  text-decoration: none;
}
/*
.nav-item nav-link{
  justify-content: center;
  align-items: center;
  background: #059669;
  border-radius: 15px;
  font-size: 12px;
  padding: 8px 20px;
  color: white;
  text-decoration: none;
}
*/

ul{
  list-style-type: none;
}

ul.b {
  list-style-type: square;
  padding: 50px 50px 50px 50px;
}

h1, h2, h3, h4, h5 {
color: #107F3A;
}

h4{
  margin-top: 100px;
  padding: 0px 50px;
}

.hero-container{
  display: flex;
  margin-top: 50px;
  padding: 0px 50px;
  justify-content: space-between;
  align-items: center;
}

.left .right{
  width: 50%;
}

.right .img{
   width: 200%;
   height: 200%;
}


.days{
    display: flex;
}

.days btn{
    margin-right: 10px;
    margin-top: 30px;
}


.aboutus{
    display: flex;
    flex-direction: column;
    background: #c8e6c9;
    color: #107F3A;
    padding: 50px 50px;
    width: 95%;
    text-align: left;
    margin: 150px 0px 100px;
}

.aboutus p, .aboutus h2{
    display: block;
}

.hero-container right{
    margin-left: 30px;
}

.container{
  display: flex; /* makes the elements display in a row */
  justify-content: center; /* centers the elements horizontally */
  align-items: center; /* centers the elements vertically */
}

/* Kostenlose Vereinsangebote entdecken */
.container2{
  display: flex;
  margin-top: 20px;
  margin-bottom: 100px;
  padding: 0px 50px;
  justify-content: space-between;
  align-items: center;
  color: #059669;
}

img {
  width: 300px;
}
.caption{
    display: block;
}
/* bis hier */


/* Vereinsangebote suchen */

.suche{
  display: flex;
  margin-top: 50px;
  padding: 0px 50px;
  justify-content: space-between;
  align-items: center;
 }

.kategorie{
  display: flex;
  padding: 0px 50px;
  flex-direction: column;
 }
 /* bis hier */


.btn{
  justify-content: center;
  align-items: center;
  background: #059669;
  border-radius: 15px;
  font-size: 12px;
  padding: 8px 20px;
  color: white;
  text-decoration: none;
}


#bilder img{
  display: block;
  margin: auto;
  margin-top: 30px;
  width: 60%;
}

/* WIE ES FUNKTINOERT */

.row {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 0px 50px;
  text-align:center;
}

.column {
  display: flex;
  flex-direction: column;
  float: left;
  width: 33.33%;
}

#bilder {
  align-items: stretch; /* make all columns stretch to the same height */
}


/* Get-Together in Zahlen */

.numbers{
    background: #c8e6c9;
    color: #107F3A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 50px 50px 50px 50px;
}

/* Pricing */

.pricing{
    box-sizing: border-box;
    padding: 0px 50px;
    margin-bottom: 100px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.column2 {
  float: left;
  /* height: 300px; Should be removed. Only for demonstration */
  background: #c8e6c9;
  border-radius: 20px 20px 20px 20px;
  margin: 10px 10px 10px;

  flex-basis: calc(33.33% - 20px); /* subtract the column spacing from the width */
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;

  flex: 1;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.column2 h5{
  margin-top: 60px;
  margin-bottom:0px;
}

.bottom-container {
  margin-top: auto;
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.b {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.b li {
  padding: 8px;

}

/* FOOTER */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #059669;
  padding: 30px;
  color: white;
  height: 50px;
  width: 100%;
  /*makes the footer fixed to the bottom*/
  bottom: 0;
  left: 0;
  margin-bottom: 0px;
}

footer a {
  color: white;
}

footer div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer ul {
  list-style: none;
  margin: 0;
}

footer li {
  text-align: center;
}

