/* CSS styles */

body {
font-family: "Manrope" , sans-serif;
background: none;
margin-bottom:50px; /*für footer*/
}

.wrapper {

  max-width:1600px;
  margin: 0 auto;

}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #059669;
}

.navbar-nav .nav-item.nav-link {
  text-decoration: none;
  color: #c8e6c9;
  margin-right: 30px;
}

.nav-items{
  display: flex;
}

.nav-items li a{
  margin: 0 20;
  color: #DCF0DB;
  text-decoration: none;
}

h3, h4, h5 {
color: #107F3A;
margin-top: 100px;
padding: 0px 50px;
}

.btn{
  justify-content: center;
  align-items: center;
  background: #059669;
  border-radius: 15px;
  font-size: 12px;
  padding: 8px 20px;
  color: white;
}

ul.b {
  list-style-type: square;
  padding: 50px 50px 50px 50px;
}

footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #059669;
  padding: 30px;
  color: white;
    /*makes the footer fixed to the bottom*/
  position: fixed;
  bottom: 0;
  left:0;
  width: 100%;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
  /*width: 80%;*/
}

.row{
  display: flex;
  padding: 50px;
  margin: 50px 10px 0px 50px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


