<!DOCTYPE html>
<html>
<head>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static '/css/angebotsprofil.css' %}">
  <title>HTML CSS JS</title>
</head>
<body>
  <div class="wrapper">
    <div class="header">
      <div class="logo" style="color: #DCF0DB;margin-left:20px;">Logo</div>
      <nav class="class">
        <ul class="nav-items">
          <li><a href="#">Sprache</a></li>
          <li><a href="#">Login</a></li>
        </ul>
      </nav>
    </div>

    <div style="display: flex">
      <h4 style="margin: 50px 10px 0px 50px; font-size: 20px; text-decoration-line: underline; text-decoration-color: #C9E06D; text-decoration-thickness: 5px;">Veranstaltung</h4>
      <h4 style="margin: 50px 50px 0px 0px;">Getti & Gerda</h4>
    </div>

  <div class="row">
    <div class="column">
      <img src="https://img.freepik.com/free-vector/happy-senior-people-dancing-party_74855-5527.jpg?w=1800&t=st=1661103267~exp=1661103867~hmac=a2a4be5bd029e99ad90c57f2b01906272957276f76d634def09bcbaec1dadbd3" style="width:60%; ">
      <p>Morgen, 08/07/2022 - Berlin</p>
      <p>14 Nehmen teil - 6 freie Plätze</p>
      <a href="#" class=btn btn-primary style="text-decoration: none;">Teilnehmen</a>
    </div>
    <div class="column">
      Kreuzberger Omas on Tour: Mit dem Projekt Gitti & Gerda geben wir Älteren durch Ausflüge, Tanzvergnügen und Spaziergänge ein Stück Lebensqualität.
      Gemeinsame Erlebnisse helfen bei der Bekämpfung von Einsamkeit und wirken präventiv, dass Ältere länger gesund zuhause leben können. Unsere wirksame Mittel gegen Einsamkeit: reden, zuhören, ausgehen, Erlebnisse teilen, lachen. Die Idee für Gitti & Gerda kam aus der Corona-Zeit und die dadurch entstandene Isolierung. Doch auch in normalen Zeiten sind Senior:innen durch Mobilitätseinschränkungen, Kosten oder mangelnde Angebote aus vielen Erlebnissen ausgeschlossen. Wir haben abgefragt, welche Erlebnisse – ergänzend zu unseren Angeboten in den Einrichtungen – die Senior:innen sich wünschen. Hier setzt Gitti & Gerda an.
      Kreuzberger Omas on Tour
      Unterwegs sind wir mit:
      · Schwoof und Tanzveranstaltungen
      · Fahrten ins grüne Umland
      · Kulturbesuchen wie Theater und Musik
      · Generationsübergreifenden Ausflügen und Veranstaltungen
      · 1:1 Spaziergängen
      Haben Sie ein Eventlocation oder Kulturangebot und wollen  Kreuzberger Senior:innen unterstützen? Wir suchen immer nach neuen Kooperationspartnern!
    </div>
  </div>


    <div style="display: flex">
      <h4 style="margin: 50px 10px 0px 50px; font-size: 20px; text-decoration-line: underline; text-decoration-color: #C9E06D; text-decoration-thickness: 5px;">Verein</h4>
      <h4 style="margin: 50px 50px 0px 0px;">Wassertor e.V.</h4>
    </div>


    <div class="row2">
    <div class="column2">
      <img class="img-fluid img-thumbnail" src="{% static '/images/logo-wassertor.svg' %}" style="width: 50%" alt="">
      <br>
      <p>
        Wir koordinieren Räume für die Kreuzberger Nachbarschaft.
        Wir bieten kostenlose Beratungs-, Bildungs- und Begegnungsangebote für 6- bis 91-Jährige in drei Sprachen.
        Wir setzen uns durch Netzwerke für Lebensqualität und Teilhabe in unseren Kiezen ein.
        Wir beraten, moderieren und entwickeln neue Projekte in unserem berlinweiten Netzwerk.
      </p>
      <p>
        4 Kieze: Wassertorplatz, Moritzplatz, Mehringplatz und Schöneberg Nord
        2 Einrichtungen: Mehrgenerationenhaus und Bona Peiser
        12 Jahre am Anpacken
        21 regelmäßige Nutzergruppen und Vereine in unseren Räumen
        24 Angestellte und Ehrenamtliche
        3000+ Besuche im Monat
      </p>
    </div>
    <div class="column2">
        Geschäftstelle <br>
        Wassertor e.V. <br>
        Wassertorstr. 48 <br>
        10969 Berlin <br>
        <br>
        Tel: 030-615 07 261 <br>
        Fax: 030-616 56 486 <br>
        www.wassertor.org <br>
        info@wassertor.org <br>
        <br>
        ÖPNV: <br>
        U-Bahnhof Prinzenstraße [U1, U3], Moritzplatz [U8], Bus M48 <br>
        <br>
        Standort Mehrgenerationenhaus <br>
        Mehrgenerationenhaus Wassertor <br>
        Wassertorstr. 48 <br>
        10969 Berlin <br>
        <br>
        Tel: 030-615 07 261 <br>
        www.mgh-wassertor.de <br>
        info@mgh-wassertor.de <br>
        <br>
        Standort Bona Peiser <br>
        Bona Peiser | Sozio-kulturelle Projekträume <br>
        Oranienstr. 72 <br>
        10969 Berlin <br>
        <br>
        Tel.: 030-677 96 086 <br>
        www.bona-peiser.de <br>
        info@bona-peiser.de <br>
    </div>
  </div>


  <h4>Mehr von Wassertor eV</h4>
  <div class="container2">
        <div class="one">
          <img src="https://img.freepik.com/free-vector/happy-senior-people-dancing-party_74855-5527.jpg?w=1800&t=st=1661103267~exp=1661103867~hmac=a2a4be5bd029e99ad90c57f2b01906272957276f76d634def09bcbaec1dadbd3" style="width:300px;">
          <p>Alt trifft Jung</p>
        </div>
        <div class="two">
          <img src="https://img.freepik.com/free-vector/young-teacher-with-joyful-kids_74855-6162.jpg?w=1800&t=st=1661103485~exp=1661104085~hmac=c6fccd48308f672110450feb82885c7abb19e2fcde8f2b6a8d43ead1f3dcdbd1" style="width:300px;">
          <p>Angebote für Kinder</p>
        </div>
        <div class="three">
          <img src="https://img.freepik.com/free-vector/young-teacher-with-joyful-kids_74855-6162.jpg?w=1800&t=st=1661103485~exp=1661104085~hmac=c6fccd48308f672110450feb82885c7abb19e2fcde8f2b6a8d43ead1f3dcdbd1" style="width:300px;">
          <p>Gemeinsam</p>
        </div>
  </div>



    <footer>
      <a>About</a>
        <ul class="about">
            <li>About us</li>
            <li>Impressum</li>
            <li>F&Q's</li>
        </ul>
      <a>Support</a>
        <ul class="about">
            <li>About us</li>
            <li>Impressum</li>
            <li>F&Q's</li>
        </ul>
      <a>FAQ</a>
        <ul class="about">
            <li>About us</li>
            <li>Impressum</li>
            <li>F&Q's</li>
        </ul>
      <a>About</a>
        <ul class="about">
            <li>About us</li>
            <li>Impressum</li>
            <li>F&Q's</li>
        </ul>
    </footer>

  </div>
</body>
</html>