<!DOCTYPE html>
<html>
<head>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static '/css/anzeige_new.css' %}">
  <title>Neues Angebot Online stellen</title>
</head>
<body>
  <div class="wrapper">
    <div class="header">
      <div class="logo">
        <a href="{% url 'index' %}">
        <img src="{% static '../media/logo-start-up2.png' %}" alt="logo" style="width:70px;height:60px; padding:10px;">
        </a>
      </div>
      <nav class="class">
        <ul style="list-style-type: none; margin: 0; padding: 0; overflow: hidden" class="nav-items">
          <li style="float: left;"><a style="display: block;padding: 8px;" href="{% url 'filter' %}">Angebote</a></li>
          <li style="float: left;"><a style="display: block;padding: 8px;" href="{% url 'login' %}">Login</a></li>
        </ul>
      </nav>
    </div>

  {% load crispy_forms_tags %}
  {% block content %}
        <div class="content-section">
            <form class="form-style" method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Inserat erstellen</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Post</button>
                </div>
            </form>
        </div>
  {% endblock %}

    <footer>
      <a>About</a>
      <a>FAQ</a>
      <a>Terms & Conditions</a>
      <a>Privacy Policy</a>
    </footer>

  </div>
</body>
</html>