<!DOCTYPE html>
<html>
<head>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static '/css/nutzerprofil.css' %}">
  <title>HTML CSS JS</title>
</head>
<body>
  <div class="wrapper">
    <div class="header">
      <div class="logo">
        <a href="{% url 'index' %}">
        <img src="{% static '../media/logo-start-up2.png' %}" alt="logo" style="width:70px;height:60px; padding:10px;">
        </a>
      </div>
      <nav class="class">
        <ul style="list-style-type: none; margin: 0; padding: 0; overflow: hidden" class="nav-items">
          <li style="float: left;"><a style="display: block;padding: 8px;" href="#">Sprache </a></li>
          <li style="float: left;"><a style="display: block;padding: 8px;" href="#">Login</a></li>
        </ul>
      </nav>
    </div>

    <div style="display: flex">
      <h4 style="margin: 50px 10px 0px 50px; font-size: 20px; text-decoration-line: underline; text-decoration-color: #C9E06D; text-decoration-thickness: 5px;">Profil von:</h4>
      <h4 style="margin: 50px 50px 0px 0px;">Azadah Shohaj</h4>
    </div>

  <div class="row">
    <div class="column">
      <img class="img-fluid img-thumbnail" src="{% static '/images/profilpicture.png' %}" style="width: 30%" alt="">
    </div>
    <div class="column">
      <p>Mitglied seit November 2022</p>
      <p>Berlin</p>
      <p>an 16 Veranstaltungen teilgenommen</p>

      <a href="#" class=btn btn-primary style="text-decoration: none;">Profildaten ändern</a>
    </div>
  </div>


  <h4>Gespeicherte Veranstaltungen</h4>
  <div class="container2">
        <div class="one">
          <img src="https://img.freepik.com/free-vector/happy-senior-people-dancing-party_74855-5527.jpg?w=1800&t=st=1661103267~exp=1661103867~hmac=a2a4be5bd029e99ad90c57f2b01906272957276f76d634def09bcbaec1dadbd3" style="width:300px;">
          <p>Alt trifft Jung</p>
        </div>
        <div class="two">
          <img src="https://img.freepik.com/free-vector/young-teacher-with-joyful-kids_74855-6162.jpg?w=1800&t=st=1661103485~exp=1661104085~hmac=c6fccd48308f672110450feb82885c7abb19e2fcde8f2b6a8d43ead1f3dcdbd1" style="width:300px;">
          <p>Angebote für Kinder</p>
        </div>
        <div class="three">
          <img src="https://img.freepik.com/free-vector/young-teacher-with-joyful-kids_74855-6162.jpg?w=1800&t=st=1661103485~exp=1661104085~hmac=c6fccd48308f672110450feb82885c7abb19e2fcde8f2b6a8d43ead1f3dcdbd1" style="width:300px;">
          <p>Gemeinsam</p>
        </div>
  </div>

  <h4>Vergangenen Veranstaltungen</h4>
  <div class="container2">
        <div class="one">
          <img src="https://img.freepik.com/free-vector/happy-senior-people-dancing-party_74855-5527.jpg?w=1800&t=st=1661103267~exp=1661103867~hmac=a2a4be5bd029e99ad90c57f2b01906272957276f76d634def09bcbaec1dadbd3" style="width:300px;">
          <p>Alt trifft Jung</p>
        </div>
        <div class="two">
          <img src="https://img.freepik.com/free-vector/young-teacher-with-joyful-kids_74855-6162.jpg?w=1800&t=st=1661103485~exp=1661104085~hmac=c6fccd48308f672110450feb82885c7abb19e2fcde8f2b6a8d43ead1f3dcdbd1" style="width:300px;">
          <p>Angebote für Kinder</p>
        </div>
        <div class="three">
          <img src="https://img.freepik.com/free-vector/young-teacher-with-joyful-kids_74855-6162.jpg?w=1800&t=st=1661103485~exp=1661104085~hmac=c6fccd48308f672110450feb82885c7abb19e2fcde8f2b6a8d43ead1f3dcdbd1" style="width:300px;">
          <p>Gemeinsam</p>
        </div>
  </div>

  <h3>Interessen</h3>
  <div style="margin: 50px 10px 50px 50px;">
     <a style="text-decoration: none;" href="#" class=btn btn-primary>Kunst</a>
     <a style="text-decoration: none;" href="#" class=btn btn-primary>Kinder</a>
     <a style="text-decoration: none;" href="#" class=btn btn-primary>Queer</a>
     <a style="text-decoration: none;" href="#" class=btn btn-primary>Türkisch</a>
     <a style="text-decoration: none;" href="#" class=btn btn-primary>Bildung</a>
  </div>


    <footer>
      <a>About</a>
        <ul class="about">
            <li>About us</li>
            <li>Impressum</li>
            <li>F&Q's</li>
        </ul>
      <a>Support</a>
        <ul class="about">
            <li>About us</li>
            <li>Impressum</li>
            <li>F&Q's</li>
        </ul>
      <a>FAQ</a>
        <ul class="about">
            <li>About us</li>
            <li>Impressum</li>
            <li>F&Q's</li>
        </ul>
      <a>About</a>
        <ul class="about">
            <li>About us</li>
            <li>Impressum</li>
            <li>F&Q's</li>
        </ul>
    </footer>

  </div>
</body>
</html>