<!DOCTYPE html>
<html>
<head>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static '/css/landingpage.css' %}">
  <title>HTML CSS JS</title>
</head>
<body>
  <div class="wrapper">
    <div class="header">
      <div class="logo">
        <img src="{% static '../media/logo-start-up2.png' %}" alt="logo" style="width:70px;height:60px; padding:10px;">
      </div>
      <nav class="class">
        <ul style="list-style-type: none; margin: 0; padding: 0; overflow: hidden" class="nav-items">
          <li style="float: left;"><a style="display: block;padding: 8px;" href="#">Sprache </a></li>
          <li style="float: left;"><a style="display: block;padding: 8px;" href="#">Login</a></li>
        </ul>
      </nav>
    </div>
    {% block content %}

    <div class="container-fluid">
       <div class="roww" style="background-color:#aaa; width:100%; margin-bottom:10px;">
           <h2 class="article-title">Veranstaltung</h2>
           <h2 class="article-title">{{ object.title }}</h2>
       </div>

       <div class="roww">
          <div class="column" style="background-color:#aaa;">
              <img style="width: 90%; margin-left:30px; margin-top:20px;" src="{{ object.titelbild }}">
              <p class="article-content">{{ object.weekday }}, {{ object.city }} ({{ object.bezirk }})</p>
          </div>
          <div class="column" style="background-color:#bbb;margin-left:20%;margin-top:100px;">
              <p class="article-content">{{ object.beschreibung }}</p>
              {% if object.author == user %}
              <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
              </div>
              {% endif %}
              {% endblock content %}
          </div>
          </div>
       </div>
    </div>





  <div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <div class="row" style="background-color:#aaa;">
                <div class="col-12">
                    <!-- Content for first row in left column -->
                </div>
            </div>
            <div class="row" style="background-color:#bbb;">
                <div class="col-12">
                    <!-- Content for second row in left column -->
                </div>
            </div>
            <div class="row" style="background-color:#aaa;">
                <div class="col-12">
                    <!-- Content for third row in left column -->
                </div>
            </div>
        </div>
        <div class="col-6">
            <!-- Content for right column -->
        </div>
    </div>
  </div>

    <footer>
      <a>About</a>
        <ul class="about">
            <li>About us</li>
            <li>Impressum</li>
            <li>F&Q's</li>
        </ul>
      <a>Support</a>
        <ul class="about">
            <li>About us</li>
            <li>Impressum</li>
            <li>F&Q's</li>
        </ul>
      <a>FAQ</a>
        <ul class="about">
            <li>About us</li>
            <li>Impressum</li>
            <li>F&Q's</li>
        </ul>
      <a>About</a>
        <ul class="about">
            <li>About us</li>
            <li>Impressum</li>
            <li>F&Q's</li>
        </ul>
    </footer>

  </div>
</body>
</html>