<!DOCTYPE html>
<html>
<head>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static '/css/landingpage.css' %}">
  <title>HTML CSS JS</title>
</head>
<body>
  <div class="wrapper">
    <div class="header">
      <div class="logo">
        <a href="{% url 'index' %}">
            <img src="{% static '../media/logo-start-up2.png' %}" alt="logo" style="width:70px;height:60px; padding:10px;">
        </a>
      </div>
      <div class="navbar-nav">
          {% if user.is_authenticated %}
                <a class="nav-item nav-link" href="{% url 'post-create' %}">New Post</a>
                <a class="nav-item nav-link" href="{% url 'Nprofile' %}">Profile</a>
                <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
              {% else %}
                <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
          {% endif %}
      </div>
    </div>
    {% block content %}

    <div class="container-fluid" style="margin-bottom: 100px">

       <div style="display: flex; align-items: center;">
           <h2 style="margin: 20px; margin-top: 40px; margin-bottom: 40px; text-decoration: underline; text-decoration-color: #c8e6c9; text-decoration-thickness: 5px;">Veranstaltung</h2>
           <h2>{{ object.title }}</h2>
       </div>

       <div class="row">
          <div class="column">
              <img style="width: 100%;" src="{{ object.titelbild }}">
              <p style="float: left;" class="article-content">{{ object.weekday }}, {{ object.city }} ({{ object.bezirk }})</p>
          </div>

          <div class="column">
              <h3>Beschreibung</h3>
              <p class="article-content">{{ object.beschreibung }}</p>
          </div>

          <div class="column" style="float:left;">
              <h3>Träger:</h3>
              <p>{{ object.author }}, {{ user }}</p>
              <p>Adresse</p>
              <p>Postleitzahl und {{ object.city }}</p>
              <p>Telefonnummer</p>
              <p>Email</p>
          </div>

           <div>
           {% if object.author == user %}
              <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
              </div>
           {% endif %}
           {% endblock content %}
           </div>
       </div>
    </div>

    <footer>
      <a>About</a>
      <a>FAQ</a>
      <a>Terms & Conditions</a>
      <a>Privacy Policy</a>
    </footer>

  </div>
</body>
</html>