<!DOCTYPE html>
<html>
<head>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static '/css/vereinsmarketing.css' %}">
  <title>HTML CSS JS</title>
</head>
<body>
  <div class="wrapper">
    <div class="header">
      <div class="logo">
        <a href="{% url 'index' %}">
          <img src="{% static '../media/logo-start-up2.png' %}" alt="logo" style="width:70px;height:60px; padding:10px;">
        </a>
      </div>
      <nav class="class">
        <ul style="list-style-type: none; margin: 0; padding: 0; overflow: hidden" class="nav-items">
          <li style="float: left;"><a style="display: block;padding: 8px;" href="#">Sprache </a></li>
          <li style="float: left;"><a style="display: block;padding: 8px;" href="#">Login</a></li>
        </ul>
      </nav>
    </div>

    <div class="row">
      <div class="left">
        <h2 style="margin-bottom: 50px;"> Wir übernehmen Ihr Vereinsmarkting</h2>
          <p>Überlassen Sie das Marketing für Ihr Verein an Experten und konzentrieren Sie sich auf Ihr Kerngeschäft.</p>
          <p>Wir verwalten ihr Marketingbudget und schöpfen das beste aus dem heraus.</p>
        <a href="#" style="margin-top: 130px; display:inline-block; text-decoration: none" class=btn btn-primary >Jetzt eine kostenlose Beratung holen</a>
      </div>
      <div class="right">
         <img class="img-fluid img-thumbnail" style="width:80%; margin-right: 30px; display: flex; float: right;" src="{% static '/images/marketing1.png' %}" alt="">
      </div>
    </div>


    <h4 style="text-align:center">Wie es funktioniert</h4>
    <div style="height: 200px; display: flex; align-items: center; margin: 10px 50px 100px 50px;">
      <div class="column" style="background-color:#c8e6c9;">
        <p style="text-align:center; justify-content: center; align-items: center; padding: 50px;">Teilnahmequote erhöhen</p>
      </div>
      <div class="column" style="background-color:#a5d6a7;">
        <p style="text-align:center; justify-content: center; align-items: center; padding: 50px;">Marketingkosten sparen</p>
      </div>
      <div class="column" style="background-color:#c8e6c9;">
        <p style="text-align:center; justify-content: center; align-items: center; padding: 50px;">Aufwand sparen</p>
      </div>
    </div>


    <div class="row">

      <div class="column">
      <h4>Kennen Sie das?</h4>
      Sie lassen zig Flyer designen, drucken und verteilen, trotz dessen nehmen nur wenige Menschen an Ihren Veranstaltungen teil?
      <br>Das liegt zum einen daran, dass Sie ziellos an irgendwelchen Menschen in die Hände gelangen und oft leider in wenigen Sekunden auf dem Boden oder Müll landen.
      </div>
      <div class="column">
            <img class="img-fluid img-thumbnail" src="{% static '/images/filter.png' %}" style="width: 50%; float: right;">
      </div>
    </div>


    <div class="row">
      <div class="column">
            <img class="img-fluid img-thumbnail" src="{% static '/images/filter2.png' %}" style="width: 50%; float: left;">
      </div>
      <div class="column">
        <h4>Die richtigen Leute ansprechen</h4>
        Am Ende ist es nicht wichtig wie viele Menschen Ihre Flyer zu sehen bekommen, sondern welche Menschen. Jedes Veranstaltungsangebot ist an eine bestimmte Zielgruppe gerichtet.
        Unser Marketingteam sucht sich potenzielle Interessenten aus. Damit nutzen Sie ihr Werbebudet viel effizienter aus.
      </div>
    </div>

    <div class="row">
      <div class="column">
        <h4>Der Umwelt zur Liebe</h4>
        <p>Das tolle an der Digitalisierung von Flyerwerbung ist, dass sehr viel Müll vermeidet wird. Überlegen Sie mal wie viel Ressourcen gespart werden, die für die Produktion von Werbematerial geht oder Müllproduktion vermieden wird.</p>
      </div>
      <div class="column">
            <img class="img-fluid img-thumbnail" src="{% static '/images/earth.png' %}" style="width: 50%; float: right;">
      </div>
    </div>


    <div class="row">
      <div class="column">
        <h4>Mehr Transparenz, Weniger Kosten</h4>
        <p>Auf Get-Together können Nutzer durch die transparente Sicht ganz einfach nach passenden Veranstaltungsangeboten Ihrer Nähe suchen.</p>
      </div>
      <div class="column">
            <img class="img-fluid img-thumbnail" src="{% static '/images/search.png' %}" style="width: 50%; float: right;">
      </div>
    </div>


    <div class="row">
      <div class="column">
            <img class="img-fluid img-thumbnail" src="{% static '/images/suchen.png' %}" style="width: 50%; float: left;">
      </div>
      <div class="column">
      <p>Nutzer können innerhalb der Angebote die auf Get-Together aufgelistet sind, speziell nach ihren Kritierien. </p>
      </div>
    </div>


    <div class="row">
      <div class="column">
        <h4>Wir werben für Sie</h4>
        <p>Wir sorgen dafür, dass Ihr Veranstaltungsangebot Aufmerksamkeit von potenziellen Interessenten bekommt.
          Dank der heutigen Technologie und das Wissen unseres Marketingteams nutzen wir das Marketingbudget effizienter aus. </p>
      </div>
      <div class="column">
            <img class="img-fluid img-thumbnail" src="{% static '/images/ads.png' %}" style="width: 50%; float: right;">
      </div>
    </div>


    <div class="row">
      <div class="column">
            <img class="img-fluid img-thumbnail" src="{% static '/images/chat.png' %}" style="width: 50%; float: left;">
      </div>
      <div class="column">
      <h5>Interne Kommunikation für wertvolles Feedback</h5>
      <p>Offenes Feedback von Nutzer:innen ist sehr wertvoll und wichtig für jeden Verein. </p>
      </div>
    </div>


    <div class="row">
      <div class="column">
        <h4>Das Jobportal für Vereine</h4>
        <p>Finde deinen nächsten Traumjob oder Mitarbeiter für dein Verein.</p>
      </div>
      <div class="column">
            <img class="img-fluid img-thumbnail" src="{% static '/images/job.png' %}" style="width: 50%; float: right;">
      </div>
    </div>

    <div class="row" style="align-items: center;justify-content: center;">
      <img class="img-fluid img-thumbnail" src="{% static '/images/partner.png' %}" style="width: 50%; ">
    </div>

    <footer>
      <a>About</a>
        <ul class="about">
            <li>About us</li>
            <li>Impressum</li>
            <li>F&Q's</li>
        </ul>
      <a>Support</a>
        <ul class="about">
            <li>About us</li>
            <li>Impressum</li>
            <li>F&Q's</li>
        </ul>
      <a>FAQ</a>
        <ul class="about">
            <li>About us</li>
            <li>Impressum</li>
            <li>F&Q's</li>
        </ul>
      <a>About</a>
        <ul class="about">
            <li>About us</li>
            <li>Impressum</li>
            <li>F&Q's</li>
        </ul>
    </footer>

  </div>
</body>
</html>