body {
  font-family: "Manrope" , sans-serif;
  background: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #059669;
}

.navbar-nav .nav-item.nav-link {
  text-decoration: none;
  color: #c8e6c9;
  margin-right: 30px;
}

.nav-items{
  display: flex;
}

.nav-items li a{
  margin: 0 20;
  color: #DCF0DB;
  text-decoration: none;
}

footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #059669;
  padding: 30px;
  color: white;
    /*makes the footer fixed to the bottom*/
  position: fixed;
  bottom: 0;
  left:0;
  width: 95%;
}


